.interesting__links_bar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr 0.75fr;
    padding: 20px 0;
    margin-top: 15px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.interests-bar__image {
    padding-left: 8px;
}

.interests-bar__content {
    padding-left: 8px;
    font-size: 12px;
    border-right: solid 1px #e2e2e2;
}

.interests-bar__headline {
    font-weight: bold;
    padding-bottom: 5px;
}

.interests-bar__stock-price {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: solid 1px #e2e2e2;
}

.interests-bar__price {
    color: green;
}

.interests-bar__big-text {
    font-weight: bolder;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.sun_image {
    border-left: solid 1px #e2e2e2;
    padding-left: 15px;
    padding-top: 8px;
}
